body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}

.table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.table-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}

.table-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}

.table-container thead>tr>th {
    padding: 0;
    border: 0;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.div-hit {
    float: right; color: #9f9f9f; margin-right: 20px; margin-top: 10px;
    text-align: right;
}

/**
하단 사용자 변경
 */

#bbs_lists_table {
    border: 2px solid #0073b7;
    border-collapse: collapse !important;
}

#bbs_lists_table > thead > tr > th {
    background-color: #0073b7;
    color: #ffffff;
    border-bottom-width: 0;
    padding: 5px;
}

#bbs_lists_table > tbody > tr > td {
    border: 1px solid #d6d6d6;
    border-collapse: collapse !important;
}

#bbs_vote button {
    font-size: 3rem;
    border-radius: rem;
}

.box-header div:first-child {
    cursor: auto;
}

.content-header li {
    font-size: 1.3em;
    color: #005ABB;
}